

<%= link_to "Log Out", logout_path, method: :post %>

<h1> Show Page </h1>
<h3> Name: <%= @user.name %> </h3>
<h3>Tickets: <%= @user.tickets %> </h3>
<h3>Mood: <%= @user.mood %> </h3>
<h3>Height: <%= @user.height %> </h3>
<%= link_to "Edit", edit_user_path %>
<%= link_to "See Attractions", '/attractions' %>
